<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <timestamp key="fileTimestamp" datePattern="yyyy-MM-dd HH.mm.ss"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${tator.logdir}/logs/${fileTimestamp}_LeviTator.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        <appender name="Server" class="ch.qos.logback.classic.net.server.ServerSocketAppender">
            <port>5802</port>
        </appender>
    -->

    <appender name="Server" class="ch.qos.logback.classic.net.SocketAppender">
        <port>50505</port>
        <remoteHost>localhost</remoteHost>
        <reconnectionDelay>1000</reconnectionDelay>
    </appender>

    <appender name="AsyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <queueSize>1024</queueSize>
        <appender-ref ref="File"/>
    </appender>

    <appender name="AsyncServer" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <queueSize>1024</queueSize>
        <appender-ref ref="Server"/>
    </appender>

    <root level="debug">
        <appender-ref ref="Console"/>
        <appender-ref ref="AsyncFile"/>
        <!--<appender-ref ref="AsyncServer"/>-->
    </root>

    <!--<logger name="org.teamtators.common.scheduler.Scheduler" level="TRACE" />-->
    <!--<logger name="org.teamtators.common.config.ConfigSequentialCommand" level="TRACE" />-->
    <!--<logger name="org.teamtators.common.scheduler.Command" level="TRACE" />-->
    <!--<logger name="org.teamtators.levitator.commands.AutoSelector" level="TRACE" />-->
    <!--<logger name="org.teamtators.levitator.subsystems.Drive" level="TRACE" />-->
    <!--<logger name="org.teamtators.limbo.commands.DriveShift(Drive.ShiftHigh)" level="TRACE" />-->
    <!--<logger name="org.teamtators.levitator.commands.PickerAutoPick(PickerAutoPick)" level="TRACE" />-->
    <!--<logger name="org.teamtators.common.drive.TankKinematics" level="TRACE" />-->
    <!--<logger name="org.teamtators.common.control.TrapezoidalProfileFollower" level="TRACE" />-->
    <!--<logger name="org.teamtators.common.control.DriveSegmentsFollower(DriveSegmentsFollower.speedFollower)" level="TRACE" />-->
</configuration>